{% extends 'base.html' %}
{% block content %}

    <div class="columns is-multiple">
        <div class="column is-12">
            <h1 class="titile">{{ todo.title }}</h1>
        </div>
    </div>
    <div class="column is-12">
         <strong>Status:</strong>{{ todo.is_done }} <br>
        <strong>Description:</strong>{{ todo.description }}
    </div>

    {% if not todo.is_done %}
        <div class="col-12">
            <a href="{% url 'todo' todo.id %}?change_status=done">Mark as Done</a>
        </div>
    {% endif %}

{% endblock %}