{% extends 'base.html' %}


{% block content %}


    <div class="column is-12">
        <h1 class="title">Todos</h1>
        <hr>
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="field">
            <div class="control">
                <button class="button btn-success">Submit</button>
            </div>
        </div>

    </form>
        <hr>

        <div class="column is-12">
            {% for todo in todos %}
            <p>{{ todo.title }} Is Done:{{ todo.is_done }} <a href="{% url 'todo' todo.id %}"> View details</a> </p>
                {% empty %}
                <p>You dotn't have any todos yet.</p>
            {% endfor %}
        </div>

    </div>

{% endblock %}